@page
@model ServiceHost.Pages.DepartmentsModel
@{
    ViewData["Title"] = "دپارتمان ها";
}

<form method="get" asp-page="/SearchDepartments">
    <div class="faq-header d-flex flex-column justify-content-center align-items-center mb-4">
        <h3 class="text-center"> جستجو در دپارتمان ها </h3>
        <div class="input-wrapper my-3 input-group input-group-merge">
            <span class="input-group-text" id="basic-addon1"><i class="bx bx-search-alt bx-xs text-muted"></i></span>
            <input type="text" id="value" name="value" class="form-control form-control-lg" placeholder="جستجو..." aria-label="Search" aria-describedby="basic-addon1">
        </div>
    </div>
</form>

@if (Model.Departments.Count == 0)
{
    <div class="d-flex justify-content-center">
        <div class="alert alert-danger text-center">هنوز دپارتمانی ثبت نشده است!</div>
    </div>
}
else
{
    <div class="row mb-4">
        @foreach (var item in Model.Departments)
        {
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img class="card-img card-img-right" src="~/Pictures/@item.Logo" alt="@item.LogoAlt" title="@item.LogoTitle">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                <p class="card-text">
                                    آدرس: @item.Address
                                </p>
                                <p class="card-text">
                                    کدپستی: @item.PostalCode
                                </p>
                                <a asp-page="./Department" asp-route-id="@item.Slug" class="btn btn-primary">اطلاعات بیشتر</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@section Css
{
    <link rel="stylesheet" href="~/theme/assets/vendor/css/pages/page-faq.css" />
}
