@page
@using _0_Framework.Application
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@if (Model.LoginMessage != null)
{
    <div class="bs-toast toast toast-ex animate__animated my-2 fade bg-primary animate__fade show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <i class="bx bx-bell me-2"></i>
            <div class="me-auto fw-semibold">خوش آمدید!</div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            ورود با موفقیت انجام شد.
        </div>
    </div>
}

@if (Model.RegisterMessage != null)
{
    <div class="bs-toast toast toast-ex animate__animated my-2 fade bg-primary animate__fade show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <i class="bx bx-bell me-2"></i>
            <div class="me-auto fw-semibold">خوش آمدید!</div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            ثبت نام با موفقیت انجام شد.
        </div>
    </div>
}

<div id="swiper-gallery" class="mb-5">
    <div class="swiper gallery-top swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
        <div class="swiper-wrapper" id="swiper-wrapper-e6ac1e4117eed541" aria-live="polite">
            @foreach (var item in Model.Slides)
            {
                <div class="swiper-slide swiper-slide-active" style="background-image: url(&quot;/Pictures/@item.Picture&quot;); width: 1388px; margin-right: 10px;" role="group"></div>
            }
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-e6ac1e4117eed541" aria-disabled="false"></div>
        <div class="swiper-button-prev swiper-button-white swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-e6ac1e4117eed541" aria-disabled="true"></div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
    <div class="swiper gallery-thumbs swiper-initialized swiper-horizontal swiper-pointer-events swiper-free-mode swiper-watch-progress swiper-backface-hidden swiper-thumbs">
        <div class="swiper-wrapper" id="swiper-wrapper-9507e17b988581f7" aria-live="polite">
            @foreach (var item in Model.Slides)
            {
                <div class="swiper-slide swiper-slide-visible swiper-slide-active swiper-slide-thumb-active" style="background-image: url(&quot;/Pictures/@item.Picture&quot;); width: 339.5px; margin-right: 10px;" role="group"></div>
            }
        </div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
</div>

<h6 class="pb-1 mb-4 text-muted">رویداد های آتی</h6>
<div class="row row-cols-1 row-cols-md-3 g-4 mb-2">
    @foreach (var item in Model.UpcomingEvents)
    {
        <div class="col-md-4 col-lg-3">
            <div class="card h-100">
                <img class="card-img-top" src="~/Pictures/@item.ImageCover" alt="@item.ImageCoverAlt" title="@item.ImageCoverTitle" />
                <div class="card-body">
                    <h5 class="card-title">
                        <a asp-page="./Event" asp-route-id="@item.Slug">
                            @item.Name
                        </a>
                    </h5>
                    
                    @{
                        if (item.Tickets != null)
                        {
                            if (item.Tickets.FirstOrDefault() != null)
                            {
                                <p class="card-text">
                                    <i class="fa fa-ticket"></i>
                                    @item.Tickets.FirstOrDefault().Price.ToMoney()
                                </p>
                            }
                            else
                            {
                                <p class="card-text">
                                    <i class="fa fa-ticket"></i>
                                    رایگان
                                </p>
                            }
                        }
                        else
                        {
                            <p class="card-text">
                                <i class="fa fa-ticket"></i>
                                رایگان
                            </p>
                        }
                    }
                    @{
                        if (item.Tickets != null)
                        {
                            if (item.Tickets.FirstOrDefault() != null)
                            {
                                <p class="card-text">
                                    <i class="fa fa-clock"></i>
                                    @item.Tickets.FirstOrDefault().StartTime.ToFarsi()
                                </p>
                            }
                            else
                            {
                                <p class="card-text">
                                    <i class="fa fa-clock"></i>
                                    اعلام نشده
                                </p>
                            }
                        }
                        else
                        {
                            <p class="card-text">
                                <i class="fa fa-clock"></i>
                                اعلام نشده
                            </p>
                        }
                    }

                    @*<p class="card-text">@item.Presenter.Name</p>*@
                </div>
            </div>
        </div>
    }
</div>
<div class="mb-5 d-flex justify-content-center">
    <a class="btn btn-primary" asp-page="./Events" asp-page-handler="Upcoming">آرشیو</a>
</div>


<h6 class="pb-1 mb-4 text-muted">رویداد های برگزار شده</h6>
<div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
    @foreach (var item in Model.PassedEvents)
    {
        <div class="col-md-4 col-lg-3">
            <div class="card h-100">
                <img class="card-img-top" src="~/Pictures/@item.ImageCover" alt="@item.ImageCoverAlt" title="@item.ImageCoverTitle" />
                <div class="card-body">
                    <h5 class="card-title">
                        <a asp-page="./Event" asp-route-id="@item.Slug">
                            @item.Name
                        </a>
                    </h5>
                    
                    @{
                        if (item.Tickets != null)
                        {
                            if (item.Tickets.FirstOrDefault() != null)
                            {
                                <p class="card-text">
                                    <i class="fa fa-ticket"></i>
                                    @item.Tickets.FirstOrDefault().Price.ToMoney()
                                </p>
                            }
                            else
                            {
                                <p class="card-text">
                                    <i class="fa fa-ticket"></i>
                                    رایگان
                                </p>
                            }
                        }
                        else
                        {
                            <p class="card-text">
                                <i class="fa fa-ticket"></i>
                                رایگان
                            </p>
                        }
                    }
                    @{
                        if (item.Tickets != null)
                        {
                            if (item.Tickets.FirstOrDefault() != null)
                            {
                                <p class="card-text">
                                    <i class="fa fa-clock"></i>
                                    @item.Tickets.FirstOrDefault().StartTime.ToFarsi()
                                </p>
                            }
                            else
                            {
                                <p class="card-text">
                                    <i class="fa fa-clock"></i>
                                    اعلام نشده
                                </p>
                            }
                        }
                        else
                        {
                            <p class="card-text">
                                <i class="fa fa-clock"></i>
                                اعلام نشده
                            </p>
                        }
                    }

                    @*<p class="card-text">@item.Presenter.Name</p>*@
                </div>
            </div>
        </div>
    }
</div>
<div class="mb-5 d-flex justify-content-center">
    <a class="btn btn-primary" asp-page="./Events" asp-page-handler="Passed">آرشیو</a>
</div>


<h6 class="pb-1 mb-2 text-muted">آخرین دپارتمان ها</h6>
<div class="row row-cols-1 row-cols-md-3 g-4 mb-2">
    @foreach (var item in Model.Departments)
    {
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img class="card-img card-img-right" src="~/Pictures/@item.Logo" alt="@item.LogoAlt" title="@item.LogoTitle">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">
                                آدرس: @item.Address
                            </p>
                            <p class="card-text">
                                کدپستی: @item.PostalCode
                            </p>
                            <a asp-page="./Department" asp-route-id="@item.Slug" class="btn btn-primary">اطلاعات بیشتر</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="mb-5 d-flex justify-content-center">
    <a class="btn btn-primary" asp-page="./Departments">آرشیو</a>
</div>

@section Css{
    <link rel="stylesheet" href="~/theme/assets/vendor/libs/swiper/swiper.css" />
    <link rel="stylesheet" href="~/theme/assets/vendor/css/pages/ui-carousel.css" />
    
    <link rel="stylesheet" href="~/theme/assets/vendor/css/pages/page-profile.css" />

    <link rel="stylesheet" href="~/AdminTheme/assets/vendor/libs/toastr/toastr.css" />
    <link rel="stylesheet" href="~/AdminTheme/assets/vendor/libs/animate-css/animate.css" />
}

@section Script
{
    <script src="~/theme/assets/vendor/libs/swiper/swiper.js"></script>
    <script src="~/theme/assets/js/ui-carousel.js"></script>
    
    <script src="~/theme/assets/js/pages-profile.js"></script>

    <script src="~/AdminTheme/assets/vendor/libs/toastr/toastr.js"></script>

    <!-- Main JS -->
    <script src="~/AdminTheme/assets/js/main.js"></script>
    <script src="~/AdminTheme/assets/js/ui-toasts.js"></script>
}
