@page
@using _0_Framework.Application
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h6 class="pb-1 mb-4 text-muted">آخرین رویداد ها</h6>
<div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
    @foreach (var item in Model.Events)
    {
        <div class="col-md-4 col-lg-3">
            <div class="card h-100">
                <img class="card-img-top" src="~/Pictures/@item.ImageCover" alt="@item.ImageCoverAlt" title="@item.ImageCoverTitle" />
                <div class="card-body">
                    <h5 class="card-title">
                        <a asp-page="./Event" asp-route-id="@item.Slug">
                            @item.Name
                        </a>
                    </h5>
                    @{
                        if (item.EventInfo != null)
                        {
                            if (item.EventInfo.City != null)
                            {
                                <p class="card-text">
                                    <i class="fa fa-ticket"></i>
                                    @item.EventInfo.City
                                </p>
                            }
                            else
                            {
                                <p class="card-text">
                                    <i class="fa fa-ticket"></i>
                                    مجازی
                                </p>
                            }
                        }
                        else
                        {
                            <p class="card-text">
                                <i class="fa fa-ticket"></i>
                                مجازی
                            </p>
                        }
                    }
                    @{
                        if (item.Tickets != null)
                        {
                            if (item.Tickets.FirstOrDefault() != null)
                            {
                                <p class="card-text">
                                    <i class="fa fa-ticket"></i>
                                    @item.Tickets.FirstOrDefault().Price
                                </p>
                            }
                            else
                            {
                                <p class="card-text">
                                    <i class="fa fa-ticket"></i>
                                    رایگان
                                </p>
                            }
                        }
                        else
                        {
                            <p class="card-text">
                                <i class="fa fa-ticket"></i>
                                رایگان
                            </p>
                        }
                    }
                    @{
                        if (item.Tickets != null)
                        {
                            if (item.Tickets.FirstOrDefault() != null)
                            {
                                <p class="card-text">
                                    <i class="fa fa-ticket"></i>
                                    @item.Tickets.FirstOrDefault().StartTime.ToFarsi()
                                </p>
                            }
                            else
                            {
                                <p class="card-text">
                                    <i class="fa fa-ticket"></i>
                                    اعلام نشده
                                </p>
                            }
                        }
                        else
                        {
                            <p class="card-text">
                                <i class="fa fa-ticket"></i>
                                اعلام نشده
                            </p>
                        }
                    }

                    @*<p class="card-text">@item.Presenter.Name</p>*@
                </div>
            </div>
        </div>
    }
</div>

<div class="divider mb-5">
    <div class="divider-text">Eventi</div>
</div>

<h6 class="pb-1 mb-4 text-muted">آخرین دپارتمان ها</h6>
<div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
    @foreach (var item in Model.Departments)
    {
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img class="card-img card-img-right" src="~/Pictures/@item.Logo" alt="@item.LogoAlt" title="@item.LogoTitle">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">
                                آدرس: @item.Address
                            </p>
                            <p class="card-text">
                                کدپستی: @item.PostalCode
                            </p>
                            <a asp-page="./Department" asp-route-id="@item.Slug" class="btn btn-primary">اطلاعات بیشتر</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@*@section Css{
    <link rel="stylesheet" href="~/theme/assets/vendor/libs/swiper/swiper.css" />
    <link rel="stylesheet" href="~/theme/assets/vendor/css/pages/ui-carousel.css" />
    
    <link rel="stylesheet" href="~/theme/assets/vendor/css/pages/page-profile.css" />

}

@section Script
{
    <script src="~/theme/assets/vendor/libs/swiper/swiper.js"></script>
    <script src="~/theme/assets/js/ui-carousel.js"></script>
    
    <script src="~/theme/assets/js/pages-profile.js"></script>
}*@
