@page
@using _0_Framework.Application
@model ServiceHost.Pages.ProfileModel
@{
    ViewData["Title"] = "پروفایل کاربر " + @Model.Account.Fullname;
}

<div class="row">
<div class="col-xl-4 col-lg-5 col-md-5 order-1 order-md-0">
    <!-- User Card -->
    <div class="card mb-4">
        <div class="card-body">
            <div class="user-avatar-section">
                <div class=" d-flex align-items-center flex-column">
                    <img class="img-fluid rounded my-4" src="~/Pictures/@Model.Account.ProfilePhoto" height="110" width="110" alt="پروفایل کاربری" title="پروفایل کاربری"/>
                    <div class="user-info text-center">
                        <h4 class="mb-2">@Model.Account.Fullname</h4>
                        <span class="badge bg-label-secondary">@Model.Account.Role.Name</span>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-around flex-wrap my-4 py-3">
                <div class="d-flex align-items-start mt-3 gap-3">
                    <span class="badge bg-label-primary p-2 rounded">
                        <i class="bx bx-customize bx-sm"></i>
                    </span>
                    <div>
                        <h5 class="mb-0">@Model.Account.Tickets.Count()</h5>
                        <span>تعداد بلیط ها</span>
                    </div>
                </div>
            </div>
            <h5 class="pb-2 border-bottom mb-4">اطلاعات</h5>
            <div class="info-container">
                <ul class="list-unstyled">
                    <li class="mb-3">
                        <span class="fw-bold me-2">نام کامل:</span>
                        <span>@Model.Account.Fullname</span>
                    </li>
                    <li class="mb-3">
                        <span class="fw-bold me-2">کد ملی:</span>
                        <span>@Model.Account.NationalCode</span>
                    </li>
                    <li class="mb-3">
                        <span class="fw-bold me-2">وضعیت:</span>
                        @if (Model.Account.IsDeactived)
                        {
                            <span class="badge bg-label-danger">غیرفعال</span>
                        }
                        else
                        {
                            <span class="badge bg-label-success">فعال</span>
                        }
                    </li>
                    <li class="mb-3">
                        <span class="fw-bold me-2">نقش:</span>
                        <span>@Model.Account.Role.Name</span>
                    </li>
                    <li class="mb-3">
                        <span class="fw-bold me-2">تلفن:</span>
                        <span>@Model.Account.Mobile</span>
                    </li>
                    <li class="mb-3">
                        <span class="fw-bold me-2">ایمیل:</span>
                        <span>@Model.Account.Email</span>
                    </li>
                    <li class="mb-3">
                        <span class="fw-bold me-2">تاریخ تولد:</span>
                        <span>@Model.Account.Birthday.ToFarsi()</span>
                    </li>
                    <li class="mb-3">
                        <span class="fw-bold me-2">استان:</span>
                        <span>@Model.Account.State</span>
                    </li>
                    <li class="mb-3">
                        <span class="fw-bold me-2">شهر:</span>
                        <span>@Model.Account.City</span>
                    </li>
                    <li class="mb-3">
                        <span class="fw-bold me-2">کد پستی:</span>
                        <span>@Model.Account.PostalCode</span>
                    </li>
                    <li class="mb-3">
                        <span class="fw-bold me-2">نام پدر:</span>
                        <span>@Model.Account.FatherName</span>
                    </li>
                    <li class="mb-3">
                        <span class="fw-bold me-2">جنسیت:</span>
                        <span>@(Model.Account.Gender ? "مرد" : "زن")</span>
                    </li>
                    <li class="mb-3">
                        <span class="fw-bold me-2">مرکز آموزشی:</span>
                        <span>@Model.Account.EducationalCenter</span>
                    </li>
                    <li class="mb-3">
                        <span class="fw-bold me-2">رشته علمی:</span>
                        <span>@Model.Account.ScientificField</span>
                    </li>
                    <li class="mb-3">
                        <span class="fw-bold me-2">مقطع دانشگاهی:</span>
                        <span>@Model.Account.UniversityDegree</span>
                    </li>
                    <li class="mb-3">
                        <span class="fw-bold me-2">مقطع حوزوی:</span>
                        <span>@Model.Account.SeminaryDegree</span>
                    </li>
                    <li class="mb-3">
                        <span class="fw-bold me-2">آدرس:</span>
                        <span>@Model.Account.Address</span>
                    </li>
                </ul>
                <div class="d-flex justify-content-center pt-3">
                    <a href="javascript:;" class="btn btn-primary me-3" data-bs-target="#editUser" data-bs-toggle="modal">ویرایش</a>
                    <a href="javascript:;" class="btn btn-label-secondary suspend-user" data-bs-target="#changePassword" data-bs-toggle="modal">تغییر رمز</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <h5 class="card-header">دپارتمان ها</h5>
        <div class="card-body">
            @if (Model.Account.Departments.Count == 0)
            {
                <p>شما جزو هیچ دپارتمانی نیستید!</p>
            }
            else
            {
                @foreach (var item in Model.Account.Departments)
                {
                    <div class="col-md">
                        <div class="card card-action shadow-sm bg-transparent border border-primary mb-4">
                            <div class="card-header">
                                <div class="card-action-title">@item.Name</div>
                                <div class="card-action-element">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a href="javascript:void(0);" class="card-collapsible">
                                                <i class="tf-icons bx bx-chevron-up"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="collapse">
                                <div class="card-body pt-0">
                                    <p class="card-text">آدرس: @item.Address</p>
                                    <p class="card-text">کد پستی: @item.PostalCode</p>
                                    <a asp-page="/Department" asp-route-id="@item.Id" class="btn btn-primary">اطلاعات بیشتر</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

<div class="col-xl-8 col-lg-7 col-md-7 order-0 order-md-1">
    <div class="card mb-4">
        <h5 class="card-header">بلیط های من</h5>
        <div class="table-responsive text-nowrap">
            <table class="table" id="Datatable">
                <thead>
                <tr>
                    <th>#</th>
                    <th>عنوان</th>
                    <th>قیمت</th>
                    <th>تاریخ شروع</th>
                    <th>تاریخ پایان</th>
                    <th>رویداد</th>
                    <th>رویداد</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Account.Tickets)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Title</td>
                        <td>@item.Price</td>
                        <td>@item.StartTime.ToFarsi()</td>
                        <td>@item.EndTime.ToFarsi()</td>
                        <td>@item.EventId</td>
                        <td>
                            <a class="" asp-page="Event" asp-route-id="@item.EventSlug">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#666" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                                        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                                    </svg>
                                </span>
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mb-4">
        <h5 class="card-header">پرداخت های من</h5>
        <div class="table-responsive text-nowrap">
            <table class="table" id="Datatable1">
                <thead>
                <tr>
                    <th>#</th>
                    <th>قیمت نهایی</th>
                    <th>درصد تخفیف</th>
                    <th>تاریخ ثبت</th>
                    <th>پرداخت شده؟</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Account.Orders)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.PayAmount</td>
                        <td>@item.DiscountAmount</td>
                        <td>@item.CreationDate.ToFarsi()</td>
                        <td>
                            @if ( @*item.IsPaid*@true)
                            {
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#61b710" class="bi bi-check2" viewBox="0 0 16 16">
                                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                    </svg>
                                </span>
                            }
                            else
                            {
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ff554e" class="bi bi-x-lg" viewBox="0 0 16 16">
                                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                    </svg>
                                </span>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

</div>
</div>

<div class="modal fade" id="editUser" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-simple modal-edit-user">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="text-center mb-4">
                    <h3>تغییر اطلاعات کاربری</h3>
                </div>
                <form class="row g-3" asp-page-handler="Edit" method="post" enctype="multipart/form-data">
                    <div class="col-12 col-md-6">
                        <label class="form-label" asp-for="EditCommand.Fullname">نام</label>
                        <input type="text" asp-for="EditCommand.Fullname" class="form-control" value="@Model.Account.Fullname"/>
                    </div>
                    <div class="col-12 col-md-6">
                        <label class="form-label" asp-for="EditCommand.FatherName">نام پدر</label>
                        <input type="text" asp-for="EditCommand.FatherName" class="form-control" value="@Model.Account.FatherName"/>
                    </div>
                    <div class="col-12 col-md-6">
                        <label class="form-label" asp-for="EditCommand.ProfilePhoto">عکس پروفایل</label>
                        <input type="file" asp-for="EditCommand.ProfilePhoto" class="form-control" accept="image/*"/>
                    </div>
                    <div class="col-12 col-md-6">
                        <label class="form-label" asp-for="EditCommand.Birthday">تاریخ تولد</label>
                        <input asp-for="EditCommand.Birthday" class="form-control persianDateInput" value="@Model.Account.Birthday.ToFarsi()"/>
                    </div>
                    <div class="col-12 col-md-6">
                        <label class="form-label" asp-for="EditCommand.State">استان</label>
                        <input type="text" asp-for="EditCommand.State" class="form-control" value="@Model.Account.State"/>
                    </div>
                    <div class="col-12 col-md-6">
                        <label class="form-label" asp-for="EditCommand.City">شهر</label>
                        <input type="text" asp-for="EditCommand.City" class="form-control" value="@Model.Account.City"/>
                    </div>
                    <div class="col-12 col-md-6">
                        <label class="form-label" asp-for="EditCommand.PostalCode">کد پستی</label>
                        <input type="text" asp-for="EditCommand.PostalCode" class="form-control" value="@Model.Account.PostalCode" />
                    </div>
                    <div class="col-12 col-md-6">
                        <label class="form-label" asp-for="EditCommand.Gender">جنسیت</label>
                        <select asp-for="EditCommand.Gender" class="form-select">
                            <option value="@Model.Account.Gender">@(Model.Account.Gender ? "مرد" : "زن")</option>
                            <option value="true">مرد</option>
                            <option value="false">زن</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-6">
                        <label class="form-label" asp-for="EditCommand.EducationalCenter">مرکز آموزشی</label>
                        <input type="text" asp-for="EditCommand.EducationalCenter" class="form-control" value="@Model.Account.EducationalCenter" />
                    </div>
                    <div class="col-12 col-md-6">
                        <label class="form-label" asp-for="EditCommand.ScientificField">رشته علمی</label>
                        <input type="text" asp-for="EditCommand.ScientificField" class="form-control" value="@Model.Account.ScientificField" />
                    </div>
                    <div class="col-12 col-md-6">
                        <label class="form-label" asp-for="EditCommand.UniversityDegree">مقطع دانشگاهی</label>
                        <input type="text" asp-for="EditCommand.UniversityDegree" class="form-control" value="@Model.Account.UniversityDegree"/>
                    </div>
                    <div class="col-12 col-md-6">
                        <label class="form-label" asp-for="EditCommand.SeminaryDegree">مقطع حوزوی</label>
                        <input type="text" asp-for="EditCommand.SeminaryDegree" class="form-control" value="@Model.Account.SeminaryDegree" />
                    </div>
                    <div class="col-12">
                        <label class="form-label" asp-for="EditCommand.Address">آدرس</label>
                        <input type="text" asp-for="EditCommand.Address" class="form-control" value="@Model.Account.Address"/>
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary me-sm-3 me-1">تایید</button>
                        <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="modal" aria-label="Close">انصراف</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="changePassword" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-simple">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="authentication-inner py-4">
                    
                    <div class="card-body">
                        <h4 class="mb-2">تغییر کلمه عبور 🔒</h4>
                        <p class="mb-4">برای <span class="fw-bold">@Model.Account.Email</span></p>
                        <form id="formAuthentication" class="mb-3" asp-page-handler="ChangePassword" method="post">
                            <div class="mb-3 form-password-toggle">
                                <label class="form-label" for="password">کلمه عبور جدید</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" id="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password"/>
                                    <span class="input-group-text cursor-pointer" onclick="toggleVisibility()">
                                        <i class="bx bx-hide"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="mb-3 form-password-toggle">
                                <label class="form-label" for="confirm-password">تایید کلمه عبور</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" id="confirm-password" class="form-control" name="confirm-password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password"/>
                                    <span class="input-group-text cursor-pointer" onclick="toggleVisibilityRe()">
                                        <i class="bx bx-hide"></i>
                                    </span>
                                </div>
                            </div>

                            <button class="btn btn-primary d-grid w-100 mb-3" type="submit">
                                ثبت کلمه عبور جدید
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Css
{
    <link rel="stylesheet" href="~/Theme/assets/vendor/css/pages/page-user-view.css"/>

    <link rel="stylesheet" href="~/Theme/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css"/>
    <link rel="stylesheet" href="~/Theme/assets/vendor/css/pages/page-auth.css">

    <script src="~/Theme/assets/vendor/js/helpers.js"></script>

    <link href="~/AdminTheme/assets/costum/css/persian-datepicker.min.css" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="~/AdminTheme/assets/costum/css/dataTables.bootstrap5.min.css"/>

}

@section Script
{
    <script src="~/Theme/assets/js/modal-edit-user.js"></script>
    <script src="~/Theme/assets/js/app-user-view.js"></script>
    <script src="~/Theme/assets/js/app-user-view-account.js"></script>

    <script src="~/Theme/assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
    <script src="~/Theme/assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
    <script src="~/Theme/assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>
    <script src="~/Theme/assets/js/pages-auth.js"></script>

    <script src="~/Theme/assets/js/cards-actions.js"></script>

    <script>
        function toggleVisibility() {
            const getPassword = document.getElementById("password");
            if (getPassword.type === "password") {
                getPassword.type = "text";
            } else {
                getPassword.type = "password";
            }
        }

        function toggleVisibilityRe() {
            const getPassword = document.getElementById("confirm-password");
            if (getPassword.type === "password") {
                getPassword.type = "text";
            } else {
                getPassword.type = "password";
            }
        }
    </script>


    <script src="~/AdminTheme/assets/costum/js/persian-date.min.js"></script>
    <script src="~/AdminTheme/assets/costum/js/persian-datepicker.min.js"></script>

    <script>
        $('.persianDateInput').persianDatepicker({
            format: 'YYYY/MM/DD',
            autoClose: true,
            initialValueType: "persian"
        });
    </script>

    <script>
        $(document).ready(function() {
            $('#Datatable').DataTable();
        });
    </script>

    <script src="~/AdminTheme/assets/costum/js/jquery.dataTables.min.js"></script>
    <script src="~/AdminTheme/assets/costum/js/dataTables.bootstrap5.min.js"></script>
}