@page
@using System.Globalization
@using _0_Framework.Application
@using RestSharp.Extensions
@model ServiceHost.Areas.Administration.Pages.Accounts.Accounts.IndexModel
@{
    ViewData["title"] = "مدیریت کاربران";
}

<div class="navbar-nav-right d-flex align-items-center mb-4" id="navbar-collapse">
    <div class="navbar-nav align-items-center">
        <h4 class="card-header">@ViewData["title"]</h4>
    </div>
    <div class="navbar-nav flex-row align-items-center ms-auto">
        <a class="btn btn-primary btn-lg" asp-page="Create">ایجاد کاربر جدید</a>
    </div>
</div>

<div class="card mb-4">
    <h5 class="card-header">جستجو در کاربران</h5>
    <div class="card-body">
        <form role="form" method="get">

            <div class="row gx-3 gy-2 align-items-center">
                <div class="col-md-3">
                    <input class="form-control" asp-for="SearchModel.Fullname" placeholder="نام">
                </div>
                <div class="col-md-3">
                    <input class="form-control" asp-for="SearchModel.Email" placeholder="ایمیل">
                </div>
                <div class="col-md-3">
                    <input class="form-control" asp-for="SearchModel.Mobile" placeholder="موبایل">
                </div>
                <div class="col-md-3">
                    <select class="form-select" asp-for="SearchModel.RoleId" asp-items="Model.Roles">
                        <option value="0">نقش...</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary d-inline-block">جستجو</button>
                    <a class="btn btn-outline-primary d-inline-block" asp-page="./Index">مشاهده همه</a>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="card">
    <h5 class="card-header">حساب ها</h5>
    <div class="table-responsive text-nowrap">
        <table class="table" id="Datatable">
            <thead>
            <tr>
                <th>#</th>
                <th>تصویر پروفایل</th>
                <th>نام</th>
                <th>ایمیل</th>
                <th>موبایل</th>
                <th>نقش</th>
                <th>تاریخ ثبت</th>
                <th>عملیات</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Accounts)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>
                        <img src="~/Pictures/@item.ProfilePhoto" style="width: 70px; height: 70px"/>
                    </td>
                    <td>@item.Fullname</td>
                    <td>@item.Email</td>
                    <td>@item.Mobile</td>
                    <td>@item.Role</td>
                    <td>@item.CreationDate</td>
                    <td>
                        <a class="" asp-page="Edit" asp-route-id="@item.Id">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#666" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                            </span>
                        </a>
                        <a class="" asp-page="AddDepartment" asp-route-id="@item.Id">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#666" class="bi bi-building-add" viewBox="0 0 16 16">
                                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Z"/>
                                    <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0 1 .5-.5H8v4H3a1 1 0 0 1-1-1V1Z"/>
                                    <path d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z"/>
                                </svg>
                            </span>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@section Css
    {
    <link rel="stylesheet" href="~/AdminTheme/assets/costum/css/dataTables.bootstrap5.min.css" />
}

    @section Script
    {
    <script>
        $(document).ready(function () {
            $('#Datatable').DataTable();
        });
    </script>

    <script src="~/AdminTheme/assets/costum/js/jquery.dataTables.min.js"></script>
    <script src="~/AdminTheme/assets/costum/js/dataTables.bootstrap5.min.js"></script>
}