@page
@using System.Globalization
@using _0_Framework.Application
@using RestSharp.Extensions
@model ServiceHost.Areas.Administration.Pages.Events.Orders.IndexModel
@{
    ViewData["title"] = "مدیریت پرداخت ها";
}

<div class="navbar-nav-right d-flex align-items-center mb-4" id="navbar-collapse">
    <div class="navbar-nav align-items-center">
        <h4 class="card-header">@ViewData["title"]</h4>
    </div>
</div>

<div class="card mb-4">
    <h5 class="card-header">جستجو در پرداخت ها</h5>
    <div class="card-body">
        <form role="form" method="get">
            <div class="row gx-3 gy-2 align-items-center" asp-validation-summary="None">
                <div class="row mb-4">
                    <div class="col-md-3">
                        <input class="form-control" asp-for="SearchModel.AccountId" placeholder="آی دی حساب">
                    </div>
                    <div class="col-md-3">
                        <label asp-for="SearchModel.IsCanceled">کنسل شده؟</label>
                        <input type="checkbox" asp-for="SearchModel.IsCanceled">
                    </div>
                    
                    <div class="col-md-3">
                        <label asp-for="SearchModel.IsPaid">پرداخت شده؟</label>
                        <input type="checkbox" asp-for="SearchModel.IsPaid">
                    </div>

                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary d-inline-block">جستجو</button>
                        <a class="btn btn-outline-primary d-inline-block" asp-page="./Index">مشاهده همه</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="card">
    <h5 class="card-header">پرداخت ها</h5>
    <div class="table-responsive text-nowrap">
        <table class="table" id="Datatable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>حساب</th>
                    <th>بلیط</th>
                    <th>مبلغ</th>
                    <th>تاریخ ثبت</th>
                    <th>پرداخت شده؟</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Orders)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.AccountFullname</td>
                        <td>@item.Ticket</td>
                        <td>@item.PayAmount</td>
                        <td>@item.CreationDate.ParseJsonDate(CultureInfo.CurrentCulture).ToFarsi()</td>
                        <td class="text-center">
                            @if (item.IsPaid)
                            {
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#61b710" class="bi bi-check2" viewBox="0 0 16 16">
                                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                    </svg>
                                </span>
                            }
                            else
                            {
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ff554e" class="bi bi-x-lg" viewBox="0 0 16 16">
                                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                                    </svg>
                                </span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Css
    {
    <link rel="stylesheet" href="~/AdminTheme/assets/costum/css/dataTables.bootstrap5.min.css" />
}

    @section Script
    {
    <script>
        $(document).ready(function () {
            $('#Datatable').DataTable({
                order: [[0, 'desc']]
            });
        });
    </script>

    <script src="~/AdminTheme/assets/costum/js/jquery.dataTables.min.js"></script>
    <script src="~/AdminTheme/assets/costum/js/dataTables.bootstrap5.min.js"></script>
}