@page
@model ServiceHost.Areas.Administration.Pages.Accounts.Roles.IndexModel
@{
    ViewData["title"] = "مدیریت نقش ها";
}

<div class="navbar-nav-right d-flex align-items-center mb-4" id="navbar-collapse">
    <div class="navbar-nav align-items-center">
        <h4 class="card-header">@ViewData["title"]</h4>
    </div>
    <div class="navbar-nav flex-row align-items-center ms-auto">
        <a class="btn btn-primary btn-lg" asp-page="Create">ایجاد نقش جدید</a>
    </div>
</div>


<div class="card">
    <h5 class="card-header">نقش ها</h5>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>نام</th>
                <th>تاریخ ایجاد</th>
                <th>عملیات</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Roles)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.CreationDate</td>
                    <td>
                        <a class="" asp-page="Edit" asp-route-id="@item.Id">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#666" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                            </span>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>


<h4 class="fw-bold py-3 mb-2">لیست نقش ها</h4>

<!-- Role cards -->
<div class="row g-4">
    @foreach (var item in Model.Roles)
    {
        <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-2">
                        <h6 class="fw-normal">Total 4 users</h6>
                        <ul class="list-unstyled d-flex align-items-center avatar-group mb-0">
                            <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" title="Vinnie Mostowy" class="avatar avatar-sm pull-up">
                                <img class="rounded-circle" src="~/AdminTheme/assets/img/avatars/1.png" alt="Avatar">
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex justify-content-between align-items-end">
                        <div class="role-heading">
                            <h4 class="mb-1">@item.Name</h4>
                            <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#addRoleModal" class="role-edit-modal">
                                <small>ویرایش نقش</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="card h-100">
            <div class="row h-100">
                <div class="col-sm-5">
                    <div class="d-flex align-items-end h-100 justify-content-center mt-sm-0 mt-3">
                        <img src="~/Theme/assets/img/illustrations/sitting-girl-with-laptop-light.png" class="img-fluid" alt="Image" width="120" data-app-light-img="illustrations/sitting-girl-with-laptop-light.png" data-app-dark-img="illustrations/sitting-girl-with-laptop-dark.png">
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="card-body text-sm-end text-center ps-sm-0">
                        <button data-bs-target="#addRoleModal" data-bs-toggle="modal" class="btn btn-primary mb-3 text-nowrap add-new-role">ایجاد نقش جدید</button>
                        <p class="mb-0">تعیین سطح دسترسی افراد!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <!-- Role Table -->
        <div class="card">
            <div class="card-datatable table-responsive">
                <table class="datatables-users table border-top">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>User</th>
                        <th>Role</th>
                        <th>Plan</th>
                        <th>Billing</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr class="odd">
                        <td class="control" tabindex="0">1</td>
                        <td class="sorting_1">
                            <div class="d-flex justify-content-left align-items-center">
                                <div class="avatar-wrapper">
                                    <div class="avatar avatar-sm me-3">
                                        <img src="~/AdminTheme/assets/img/avatars/1.png" alt="Avatar" class="rounded-circle">
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    <a href="app-user-view-account.html" class="text-body text-truncate">
                                        <span class="fw-semibold">Zsazsa McCleverty</span>
                                    </a><small class="text-muted">ZZ</small>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span class="text-truncate d-flex align-items-center">
                                <span class="badge badge-center rounded-pill bg-label-primary w-px-30 h-px-30 me-2">
                                    <i class="bx bx-pie-chart-alt bx-xs"></i>
                                </span>Maintainer
                            </span>
                        </td>
                        <td>
                            <span class="fw-semibold">Enterprise</span>
                        </td><td>Auto Debit</td>
                        <td>
                            <span class="badge bg-label-success">Active</span>
                        </td>
                        <td>
                            <a href="app-user-view-account.html" class="btn btn-sm btn-icon">
                                <i class="bx bx-show-alt"></i>
                            </a>
                        </td>
                    </tr>
                    <tr class="even">
                        <td class="control" tabindex="0">1</td>
                        <td class="  control" tabindex="0" style="display: none;"></td>
                        <td class="sorting_1">
                            <div class="d-flex justify-content-left align-items-center">
                                <div class="avatar-wrapper">
                                    <div class="avatar avatar-sm me-3">
                                        <img src="~/AdminTheme/assets/img/avatars/7.png" alt="Avatar" class="rounded-circle">
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    <a href="app-user-view-account.html" class="text-body text-truncate">
                                        <span class="fw-semibold">Yoko Pottie</span>
                                    </a><small class="text-muted">privacy.gov.au</small>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span class="text-truncate d-flex align-items-center">
                                <span class="badge badge-center rounded-pill bg-label-warning w-px-30 h-px-30 me-2">
                                    <i class="bx bx-user bx-xs"></i>
                                </span>Subscriber
                            </span>
                        </td>
                        <td>
                            <span class="fw-semibold">Basic</span>
                        </td><td>Auto Debit</td>
                        <td>
                            <span class="badge bg-label-secondary">Inactive</span>
                        </td>
                        <td>
                            <a href="app-user-view-account.html" class="btn btn-sm btn-icon">
                                <i class="bx bx-show-alt"></i>
                            </a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <!--/ Role Table -->
    </div>
</div>
<!--/ Role cards -->

<!-- Add Role Modal -->
<!-- Add Role Modal -->
<div class="modal fade" id="addRoleModal" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-lg modal-simple modal-dialog-centered modal-add-new-role">
<div class="modal-content p-3 p-md-5">
<div class="modal-body">
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
<div class="text-center mb-4">
    <h3 class="role-title">Add New Role</h3>
    <p>Set role permissions</p>
</div>
<!-- Add role form -->
<form id="addRoleForm" class="row g-3" onsubmit="return false">
<div class="col-12 mb-4">
    <label class="form-label" for="modalRoleName">Role Name</label>
    <input type="text" id="modalRoleName" name="modalRoleName" class="form-control" placeholder="Enter a role name" tabindex="-1"/>
</div>
<div class="col-12">
<h4>Role Permissions</h4>
<!-- Permission table -->
<div class="table-responsive">
<table class="table table-flush-spacing">
<tbody>
<tr>
    <td class="text-nowrap fw-semibold">Administrator Access <i class="bx bx-info-circle bx-xs" data-bs-toggle="tooltip" data-bs-placement="top" title="Allows a full access to the system"></i></td>
    <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="selectAll"/>
            <label class="form-check-label" for="selectAll">
                Select All
            </label>
        </div>
    </td>
</tr>
<tr>
    <td class="text-nowrap fw-semibold">User Management</td>
    <td>
        <div class="d-flex">
            <div class="form-check me-3 me-lg-5">
                <input class="form-check-input" type="checkbox" id="userManagementRead"/>
                <label class="form-check-label" for="userManagementRead">
                    Read
                </label>
            </div>
            <div class="form-check me-3 me-lg-5">
                <input class="form-check-input" type="checkbox" id="userManagementWrite"/>
                <label class="form-check-label" for="userManagementWrite">
                    Write
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="userManagementCreate"/>
                <label class="form-check-label" for="userManagementCreate">
                    Create
                </label>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td class="text-nowrap fw-semibold">Content Management</td>
    <td>
        <div class="d-flex">
            <div class="form-check me-3 me-lg-5">
                <input class="form-check-input" type="checkbox" id="contentManagementRead"/>
                <label class="form-check-label" for="contentManagementRead">
                    Read
                </label>
            </div>
            <div class="form-check me-3 me-lg-5">
                <input class="form-check-input" type="checkbox" id="contentManagementWrite"/>
                <label class="form-check-label" for="contentManagementWrite">
                    Write
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="contentManagementCreate"/>
                <label class="form-check-label" for="contentManagementCreate">
                    Create
                </label>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td class="text-nowrap fw-semibold">Disputes Management</td>
    <td>
        <div class="d-flex">
            <div class="form-check me-3 me-lg-5">
                <input class="form-check-input" type="checkbox" id="dispManagementRead"/>
                <label class="form-check-label" for="dispManagementRead">
                    Read
                </label>
            </div>
            <div class="form-check me-3 me-lg-5">
                <input class="form-check-input" type="checkbox" id="dispManagementWrite"/>
                <label class="form-check-label" for="dispManagementWrite">
                    Write
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="dispManagementCreate"/>
                <label class="form-check-label" for="dispManagementCreate">
                    Create
                </label>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td class="text-nowrap fw-semibold">Database Management</td>
    <td>
        <div class="d-flex">
            <div class="form-check me-3 me-lg-5">
                <input class="form-check-input" type="checkbox" id="dbManagementRead"/>
                <label class="form-check-label" for="dbManagementRead">
                    Read
                </label>
            </div>
            <div class="form-check me-3 me-lg-5">
                <input class="form-check-input" type="checkbox" id="dbManagementWrite"/>
                <label class="form-check-label" for="dbManagementWrite">
                    Write
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="dbManagementCreate"/>
                <label class="form-check-label" for="dbManagementCreate">
                    Create
                </label>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td class="text-nowrap fw-semibold">Financial Management</td>
    <td>
        <div class="d-flex">
            <div class="form-check me-3 me-lg-5">
                <input class="form-check-input" type="checkbox" id="finManagementRead"/>
                <label class="form-check-label" for="finManagementRead">
                    Read
                </label>
            </div>
            <div class="form-check me-3 me-lg-5">
                <input class="form-check-input" type="checkbox" id="finManagementWrite"/>
                <label class="form-check-label" for="finManagementWrite">
                    Write
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="finManagementCreate"/>
                <label class="form-check-label" for="finManagementCreate">
                    Create
                </label>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td class="text-nowrap fw-semibold">Reporting</td>
    <td>
        <div class="d-flex">
            <div class="form-check me-3 me-lg-5">
                <input class="form-check-input" type="checkbox" id="reportingRead"/>
                <label class="form-check-label" for="reportingRead">
                    Read
                </label>
            </div>
            <div class="form-check me-3 me-lg-5">
                <input class="form-check-input" type="checkbox" id="reportingWrite"/>
                <label class="form-check-label" for="reportingWrite">
                    Write
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="reportingCreate"/>
                <label class="form-check-label" for="reportingCreate">
                    Create
                </label>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td class="text-nowrap fw-semibold">API Control</td>
    <td>
        <div class="d-flex">
            <div class="form-check me-3 me-lg-5">
                <input class="form-check-input" type="checkbox" id="apiRead"/>
                <label class="form-check-label" for="apiRead">
                    Read
                </label>
            </div>
            <div class="form-check me-3 me-lg-5">
                <input class="form-check-input" type="checkbox" id="apiWrite"/>
                <label class="form-check-label" for="apiWrite">
                    Write
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="apiCreate"/>
                <label class="form-check-label" for="apiCreate">
                    Create
                </label>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td class="text-nowrap fw-semibold">Repository Management</td>
    <td>
        <div class="d-flex">
            <div class="form-check me-3 me-lg-5">
                <input class="form-check-input" type="checkbox" id="repoRead"/>
                <label class="form-check-label" for="repoRead">
                    Read
                </label>
            </div>
            <div class="form-check me-3 me-lg-5">
                <input class="form-check-input" type="checkbox" id="repoWrite"/>
                <label class="form-check-label" for="repoWrite">
                    Write
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="repoCreate"/>
                <label class="form-check-label" for="repoCreate">
                    Create
                </label>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td class="text-nowrap fw-semibold">Payroll</td>
    <td>
        <div class="d-flex">
            <div class="form-check me-3 me-lg-5">
                <input class="form-check-input" type="checkbox" id="payrollRead"/>
                <label class="form-check-label" for="payrollRead">
                    Read
                </label>
            </div>
            <div class="form-check me-3 me-lg-5">
                <input class="form-check-input" type="checkbox" id="payrollWrite"/>
                <label class="form-check-label" for="payrollWrite">
                    Write
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="payrollCreate"/>
                <label class="form-check-label" for="payrollCreate">
                    Create
                </label>
            </div>
        </div>
    </td>
</tr>
</tbody>
</table>
</div>
<!-- Permission table -->
</div>
<div class="col-12 text-center">
    <button type="submit" class="btn btn-primary me-sm-3 me-1">تایید</button>
    <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="modal" aria-label="Close">بازگشت</button>
</div>
</form>
<!--/ Add role form -->
</div>
</div>
</div>
</div>
<!--/ Add Role Modal -->

<!-- / Add Role Modal -->

@section Css
{
    <link rel="stylesheet" href="~/AdminTheme/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"/>
    <link rel="stylesheet" href="~/AdminTheme/assets/vendor/libs/typeahead-js/typeahead.css"/>
    <link rel="stylesheet" href="~/AdminTheme/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css">
    <link rel="stylesheet" href="~/AdminTheme/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css">
    <link rel="stylesheet" href="~/AdminTheme/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css"/>
}

@section Script
{
    <script src="~/AdminTheme/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>

    <script src="~/AdminTheme/assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
    <script src="~/AdminTheme/assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
    <script src="~/AdminTheme/assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>

    <script src="~/AdminTheme/assets/js/app-access-roles.js"></script>
    <script src="~/AdminTheme/assets/js/modal-add-role.js"></script>
}