@using _0_Framework.Application
@model _01_EventiQuery.Contracts.Event.EventQueryModel


@{
    string price = "";
    var ticket = Model.Tickets.OrderBy(x => x.Price).FirstOrDefault();
    if (Model.Tickets.Count == 0)
    {
        price = "رایگان";
    }
    else if (ticket?.Price == 0)
    {
        price = "رایگان";
    }
    else
    {
        price = ticket?.Price.ToMoney().ToPersianNumber()! + " تومان";
    }
}

<div class="col-md-6 col-xl-4 mb-4">
    <div class="card h-100">
        @*<div class="card-header flex-grow-0">
            
        </div>*@
            <img class="img-fluid" src="~/Pictures/@Model.ImageCover" alt="Card image cap">
        <div class="card-body">
            <h5 class="text-truncate">
                <a asp-page="./Event" asp-route-id="@Model.Slug">
                    <h5 class="mb-0">@Model.Name</h5>
                </a>
            </h5>
            <p class="text-truncate">
                @Html.Raw(Model.Description)
            </p>
            <h5 class="text-truncate">
                زمان برگزاری: @Model.StartTime.ToPersianDate()
            </h5>
            <h5 class="text-truncate">
                مکان برگزاری: @(Model.Address ?? "مجازی")
            </h5>
            <hr/>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <div class="text-truncate">
                        قیمت: @price
                    </div>
                    <div class="d-flex gap-2">
                        <span class="badge bg-label-primary">@Model.Subcategory</span>
                    </div>
                </div>
                <div class="d-flex my-3">
                    <a asp-page="./Event" asp-route-id="@Model.Slug" class="btn btn-primary ms-auto" role="button">عضویت</a>
                </div>
            </div>
        </div>
    </div>
</div>