@page
@using System.Globalization
@using _0_Framework.Application
@using RestSharp.Extensions
@model ServiceHost.Areas.Administration.Pages.Events.Tickets.IndexModel
@{
    ViewData["title"] = "مدیریت بلیت ها";
}

<div class="navbar-nav-right d-flex align-items-center mb-4" id="navbar-collapse">
    <div class="navbar-nav align-items-center">
        <h4 class="card-header">@ViewData["title"]</h4>
    </div>
    <div class="navbar-nav flex-row align-items-center ms-auto">
        <a class="btn btn-primary btn-lg" asp-page="Create">ایجاد بلیت جدید</a>
    </div>
</div>

<div class="card mb-4">
    <h5 class="card-header">جستجو در بلیت ها</h5>
    <div class="card-body">
        <form role="form" method="get">
            <div class="row gx-3 gy-2 align-items-center" asp-validation-summary="None">
                <div class="row mb-4">
                    <div class="col-md-3">
                        <input class="form-control" asp-for="SearchModel.Id" placeholder="شماره بلیت">
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" asp-for="SearchModel.Title" placeholder="عنوان بلیت">
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" asp-for="SearchModel.EventId" placeholder="شماره رویداد">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <input class="form-control" asp-for="SearchModel.Price" placeholder="حداکثر قیمت">
                    </div>
                    <div class="col-md-3">
                        <label asp-for="SearchModel.IsFree">رایگان؟</label>
                        <input type="checkbox" asp-for="SearchModel.IsFree">
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary d-inline-block">جستجو</button>
                        <a class="btn btn-outline-primary d-inline-block" asp-page="./Index">مشاهده همه</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="card">
    <h5 class="card-header">بلیت ها</h5>
    <div class="table-responsive text-nowrap">
        <table class="table" id="Datatable">
            <thead>
            <tr>
                <th>#</th>
                <th>عنوان</th>
                <th>تعدادِ</th>
                <th>قیمت</th>
                <th>تخفیف</th>
                <th>قیمت نهایی</th>
                <th>تاریخ شروع</th>
                <th>تاریخ پایان</th>
                <th>رویداد</th>
                <th>رایگان؟</th>
                <th>عملیات</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Tickets)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.Number</td>
                    <td>@item.Price</td>
                    <td>@item.DiscountRate</td>
                    <td>@item.TotalPrice</td>
                        <td>@item.StartTime.ParseJsonDate(CultureInfo.CurrentCulture).ToFarsi()</td>
                    <td>@item.EndTime.ParseJsonDate(CultureInfo.CurrentCulture).ToFarsi()</td>
                    <td>@item.Event</td>
                    <td class="text-center">
                        @if (item.Price == 0)
                        {
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#61b710" class="bi bi-check2" viewBox="0 0 16 16">
                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                </svg>
                            </span>
                        }
                        else
                        {
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ff554e" class="bi bi-x-lg" viewBox="0 0 16 16">
                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                </svg>
                            </span>
                        }
                    </td>
                    <td>
                        <a class="" asp-page="Edit" asp-route-id="@item.Id">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#666" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                </svg>
                            </span>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

                                    
@section Css
    {
    <link rel="stylesheet" href="~/AdminTheme/assets/costum/css/dataTables.bootstrap5.min.css" />
}

    @section Script
    {
    <script>
        $(document).ready(function () {
            $('#Datatable').DataTable({
                order: [[0, 'desc']]
            });
        });
    </script>

    <script src="~/AdminTheme/assets/costum/js/jquery.dataTables.min.js"></script>
    <script src="~/AdminTheme/assets/costum/js/dataTables.bootstrap5.min.js"></script>
}