@using _0_Framework.Infrastructure
@inject _0_Framework.Application.IAuthHelper _authHelper;
@{
    var currentAccount = _authHelper.CurrentAccountInfo();
}

<!DOCTYPE html>

<html lang="en" class="light-style layout-menu-fixed " dir="rtl" data-theme="theme-default" data-assets-path="/AdminTheme/assets/" data-template="horizontal-menu-template">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>Eventi | @ViewData["Title"]</title>

    <meta name="keywords" content="@ViewData["keywords"]"/>
    <meta name="description" content="@ViewData["MetaDescription"]"/>
    <link rel="canonical" href="@ViewData["CanonicalAddress"]"/>

    <link rel="icon" type="image/x-icon" href="~/AdminTheme/assets/img/favicon/favicon.ico"/>

    <link rel="stylesheet" href="~/theme/assets/vendor/fonts/boxicons.css"/>
    <link rel="stylesheet" href="~/theme/assets/vendor/fonts/fontawesome.css"/>
    <link rel="stylesheet" href="~/theme/assets/vendor/fonts/flag-icons.css"/>

    <link rel="stylesheet" href="~/theme/assets/vendor/css/core.css" class="template-customizer-core-css"/>
    <link rel="stylesheet" href="~/theme/assets/vendor/css/theme-default.css" class="template-customizer-theme-css"/>
    <link rel="stylesheet" href="~/theme/assets/css/demo.css"/>

    <link rel="stylesheet" href="~/theme/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"/>
    <link rel="stylesheet" href="~/theme/assets/vendor/libs/typeahead-js/typeahead.css"/>

    <script src="~/theme/assets/vendor/js/helpers.js"></script>

    <script src="~/theme/assets/js/config.js"></script>

    @await RenderSectionAsync("Css", false)

    <link rel="stylesheet" href="~/css/custom.css"/>
</head>

<body>
<div class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu">
<div class="layout-container">

<nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme bg-dark" id="layout-navbar">
    <div class="container-xxl">
        <div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-4">
            <a asp-page="./Index" class="app-brand-link gap-2">
                <span class="app-brand-logo demo">
                    <img src="~/images/logo.png" height="60px"/>
                </span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
                <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>

        </div>

        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0  d-xl-none  ">
            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
            </a>
        </div>


        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

            <ul class="navbar-nav flex-row align-items-center ms-auto">

                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                        <div class="avatar">
                            @if (_authHelper.IsAuthenticated())
                            {
                                <img src="~/Pictures/@currentAccount.ProfilePhoto" alt="Profile of @currentAccount.Fullname" title="Profile of @currentAccount.Fullname" class="w-px-40 h-auto rounded-circle">
                            }
                            else
                            {
                                <img src="~/Pictures/profilePhotos/DefaultProfilePicture.svg" alt="Default profile picture" title="Default profile picture" class="w-px-40 h-auto rounded-circle">
                            }
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" asp-page="./Profile">
                                @if (_authHelper.IsAuthenticated())
                                {
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 me-3">
                                            <div class="avatar avatar-online">
                                                <img src="~/Pictures/@currentAccount.ProfilePhoto" alt="Profile of @currentAccount.Fullname" title="Profile of @currentAccount.Fullname" class="w-px-40 h-auto rounded-circle">
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <span class="fw-semibold d-block">@currentAccount.Fullname</span>
                                            <small class="text-muted">@currentAccount.Role</small>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 me-3">
                                            <div class="avatar">
                                                <img src="~/Pictures/profilePhotos/DefaultProfilePicture.svg" alt="Default profile picture" title="Default profile picture" class="w-px-40 h-auto rounded-circle">
                                            </div>
                                        </div>
                                    </div>
                                }
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        @if (_authHelper.IsAuthenticated())
                        {
                            <li>
                                <a class="dropdown-item" asp-page="./Profile">
                                    <i class="bx bx-user me-2"></i>
                                    <span class="align-middle">پروفایل من</span>
                                </a>
                            </li>
                            @if (_authHelper.CurrentAccountRole() == Roles.Administration || _authHelper.CurrentAccountRole() == Roles.BlogAdmin || _authHelper.CurrentAccountRole() == Roles.Presenter)
                            {
                                <li>
                                    <a class="dropdown-item" asp-area="Administration" asp-page="/Index">
                                        <i class="bx bx-cog me-2"></i>
                                        <span class="align-middle">داشبورد</span>
                                    </a>
                                </li>
                            }
                            <li>
                                <div class="dropdown-divider"></div>
                            </li>

                            <li>
                                <a class="dropdown-item" asp-page="/Logout">
                                    <i class="bx bx-power-off me-2"></i>
                                    <span class="align-middle">خروج</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="dropdown-item" data-bs-target="#login" data-bs-toggle="modal">
                                    <i class="bx bx-user me-2"></i>
                                    <span class="align-middle">ورود</span>
                                </a>
                            </li>
                            <li>
                                <div class="dropdown-divider"></div>
                            </li>

                            <li>
                                <a class="dropdown-item" data-bs-target="#register" data-bs-toggle="modal">
                                    <i class="bx bxs-user-plus me-2"></i>
                                    <span class="align-middle">ثبت نام</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
        
    </div>
</nav>

<div class="layout-page">

    <div class="content-wrapper">


        <aside id="layout-menu" class="layout-menu-horizontal menu-horizontal  menu bg-menu-theme flex-grow-0">
            <div class="container-xxl d-flex h-100">


                <ul class="menu-inner">

                    <li class="menu-item @(ViewContext.RouteData.Values["page"]?.ToString() == "/Index" ? "active" : "")">
                        <a asp-page="./Index" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div>صفحه اصلی</div>
                        </a>
                    </li>

                    <li class="menu-item @(ViewContext.RouteData.Values["page"]?.ToString() == "/Events" ? "active" : "")">
                        <a asp-page="./Events" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-layout"></i>
                            <div>رویداد ها</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a asp-page="./Events" asp-page-handler="Upcoming" class="menu-link">
                                    <div>رویداد های آتی</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a asp-page="./Events" asp-page-handler="Passed" class="menu-link">
                                    <div>رویداد های برگزار شده</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a asp-page="./Events" class="menu-link">
                                    <div>همه رویداد ها</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-item @(ViewContext.RouteData.Values["page"]?.ToString() == "/Presenters" ? "active" : "")">
                        <a asp-page="./Presenters" class="menu-link">
                            <i class='menu-icon tf-icons bx bx-microphone'></i>
                            <div>برگزارکنندگان</div>
                        </a>
                    </li>

                    <li class="menu-item @(ViewContext.RouteData.Values["page"]?.ToString() == "/Departments" ? "active" : "")">
                        <a asp-page="./Departments" class="menu-link">
                            <i class='menu-icon tf-icons bx bx-building'></i>
                            <div>دپارتمان ها</div>
                        </a>
                    </li>

                    <li class="menu-item @(ViewContext.RouteData.Values["page"]?.ToString() == "/ArticleCategories" ? "active" : "")">
                        <a asp-page="./ArticleCategories" class="menu-link">
                            <i class='menu-icon tf-icons bx bx-book'></i>
                            <div>وبلاگ</div>
                        </a>
                    </li>

                    <li class="menu-item @(ViewContext.RouteData.Values["page"]?.ToString() == "/Faq" ? "active" : "")">
                        <a asp-page="./Faq" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-help-circle"></i>
                            <div>سوالات متداول</div>
                        </a>
                    </li>
                    
                    @if (_authHelper.CurrentAccountRole() == Roles.Administration || _authHelper.CurrentAccountRole() == Roles.Presenter)
                    {
                        <li class="menu-item">
                            <a class="btn btn-primary" asp-area="Administration" asp-page="/Events/Events/Create">
                                <i class="menu-icon tf-icons bx bx-pencil"></i>
                                <div>برگزاری رویداد</div>
                            </a>
                        </li>
                    }
                </ul>

            </div>
        </aside>

        <div class="container-xxl flex-grow-1 container-p-y">
            @RenderBody()
        </div>

        <div class="modal fade" id="login" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-simple">
                <div class="modal-content p-3 p-md-5">
                    <div class="modal-body">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="authentication-inner py-4">
                        
                        <h4 class="mb-2">لطفا ابتدا وارد اکانت خود شوید.</h4>

                        <form id="formAuthentication" class="mb-3" method="post" asp-page="/Login">
                            <div class="mb-3">
                                <label for="mobile" class="form-label">موبایل</label>
                                <input type="text" class="form-control" placeholder="موبایل" autofocus="" data-val="true" data-val-required="این فیلد نمیتواند خالی باشد" id="Command_Mobile" name="Command.Mobile" value="">
                            </div>
                            <div class="mb-3 form-password-toggle">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" >رمز عبور</label>
                                    <a asp-page="./ForgotPassword">
                                        <small>رمز عبور خود را فراموش کرده اید؟</small>
                                    </a>
                                </div>
                                <div class="input-group input-group-merge">
                                    <input type="password" class="form-control" placeholder="············" aria-describedby="password" data-val="true" data-val-required="این فیلد نمیتواند خالی باشد" id="Command_Password" name="Command.Password">
                                    <span id="passwordToggle" class="input-group-text cursor-pointer"><i id="toggleIcon" class="bx bx-hide"></i></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary d-grid w-100" type="submit">ورود</button>
                            </div>
                        </form>

                        <p class="text-center">
                            <span>کاربر جدید هستید؟</span>
                            <a asp-page="./Register">
                                <span>اکانت بسازید</span>
                            </a>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="register" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-simple">
                <div class="modal-content p-3 p-md-5">
                    <div class="modal-body">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="authentication-inner py-4">
                        
                        <h4 class="mb-2">لطفا ابتدا ثبت نام کنید.</h4>

                        <form id="formAuthenticationR" class="mb-3" method="post" asp-page="/Register">
                            
                            <div class="mb-3">
                                <label for="username" class="form-label">موبایل</label>
                                <input type="text" class="form-control" placeholder="موبایل" data-val="true" data-val-required="این فیلد نمیتواند خالی باشد" id="Command_Mobile" name="Command.Mobile">
                            </div>
                            
                            <div class="mb-3 form-password-toggleR">
                                <label class="form-label" for="password">رمز عبور</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" class="form-control" placeholder="············" aria-describedby="password" data-val="true" data-val-required="The Password field is required." id="Command_Password" name="Command.Password">
@*                                    <span id="passwordToggleR" class="input-group-text cursor-pointer"><i id="toggleIconR" class="bx bx-hide"></i></span>
*@                                </div>
                            </div>
                            

                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="terms-conditions" name="terms"/>
                                    <label class="form-check-label" for="terms-conditions">
                                        موافقت با
                                        <a asp-page="./TermsOfUse">شرایط استفاده</a>
                                    </label>
                                </div>
                            </div>
                            <button class="btn btn-primary d-grid w-100" id="submit-button" disabled>ثبت نام</button>
                        </form>

                        <p class="text-center">
                            <span>حساب دارید؟</span>
                            <a asp-page="./Login">
                                <span>وارد شوید</span>
                            </a>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <section id="adv-footer">
            <footer class="footer bg-dark">
                <div class="container-fluid container-p-x pt-5 pb-4">
                    <div class="row">
                        <div class="container-fluid d-flex flex-md-row flex-column justify-content-center align-items-md-center gap-5 container-p-x py-3">

                            <a href="javascript:void(0)" class="footer-link d-block pb-2">درباره ما</a>
                            <a href="javascript:void(0)" class="footer-link d-block pb-2">تماس با ما</a>
                            <a href="javascript:void(0)" class="footer-link d-block pb-2">خبرخوان</a>
                            <a href="javascript:void(0)" class="footer-link d-block pb-2">جستجو</a>
                            <a href="javascript:void(0)" class="footer-link d-block pb-2">درخواست همکاری</a>
                            <a href="javascript:void(0)" class="footer-link d-block pb-2">تفاهم نامه</a>

                        </div>
                    </div>

                    <div class="row">
                        <div class="container-fluid d-flex flex-md-row flex-column justify-content-center align-items-md-center gap-5 container-p-x py-3">

                            <a href="javascript:void(0)" class="footer-link d-block pb-2">معاونت آموزش</a>
                            <a href="javascript:void(0)" class="footer-link d-block pb-2">معاونت پژوهش</a>
                            <a href="javascript:void(0)" class="footer-link d-block pb-2">معاونت فرهنگی</a>
                            <a href="javascript:void(0)" class="footer-link d-block pb-2">معاونت اداری مالی</a>
                            <a href="javascript:void(0)" class="footer-link d-block pb-2">معاونت فناوری اطلاعات</a>

                        </div>
                    </div>

                    <hr/>

                    <div class="row">
                        <div class="container-fluid d-flex flex-md-row flex-column justify-content-center align-items-md-center gap-5 container-p-x py-3">
                            <p>آدرس: قم - بلوار امین - بلوار جمهوری اسلامی - موسسه آموزشی و پژوهشی امام خمینی (ره)</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="container-fluid d-flex flex-md-row flex-column justify-content-center align-items-md-center gap-5 container-p-x py-3">

                            <p href="javascript:void(0)" class="footer-link d-block pb-2">تماس: 32130 - 025</p>

                            <p href="javascript:void(0)" class="footer-link d-block pb-2">کدپستی: 3716685479</p>

                            <p href="javascript:void(0)" class="footer-link d-block pb-2">نمابر: 32936002 - 025</p>

                        </div>
                    </div>

                    @*<div class="row">
                        <div class="container-fluid d-flex flex-md-row flex-column justify-content-center align-items-md-center gap-3 container-p-x py-3">

                            <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-facebook me-2">
                                <i class='bx bxl-telegram'></i>
                            </a>
                            <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-twitter me-2">
                                <i class='bx bxl-twitter'></i>
                            </a>
                            <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-linkedin me-2">
                                <i class='bx bxl-linkedin'></i>
                            </a>
                            <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-github">
                                <i class="bx bxl-github"></i>
                            </a>

                        </div>
                    </div>*@
                    
                </div>
            </footer>
        </section>
        <div class="content-backdrop fade"></div>
    </div>
</div>
</div>
</div>


<div class="layout-overlay layout-menu-toggle"></div>


<div class="drag-target"></div>

<script src="~/theme/assets/vendor/libs/jquery/jquery.js"></script>
<script src="~/theme/assets/vendor/libs/popper/popper.js"></script>
<script src="~/theme/assets/vendor/js/bootstrap.js"></script>
<script src="~/theme/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="~/theme/assets/vendor/libs/hammer/hammer.js"></script>
<script src="~/theme/assets/vendor/libs/i18n/i18n.js"></script>
<script src="~/theme/assets/vendor/libs/typeahead-js/typeahead.js"></script>

<script src="~/theme/assets/vendor/js/menu.js"></script>
<script src="~/theme/assets/js/main.js"></script>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    $("#passwordToggle").click(function () {
        const passwordField = $("#Command_Password");
        passwordField.attr("type", passwordField.attr("type") === "password" ? "text" : "password");

        $("#toggleIcon").toggleClass("bx-show");
    });
</script>

    <script>
        var checkbox = document.getElementById("terms-conditions");
        var submitButton = document.getElementById("submit-button");

        checkbox.addEventListener("change", function () {
            submitButton.disabled = !checkbox.checked;
        });
    </script>

    <script>
        $("#passwordToggleR").click(function () {
            const passwordField = $("#Command_Password");
            passwordField.attr("type", passwordField.attr("type") === "password" ? "text" : "password");

            $("#toggleIconR").toggleClass("bx-show");
        });
    </script>

@await RenderSectionAsync("Script", false)


</body>

</html>