@page
@model ServiceHost.Areas.Administration.Pages.Events.Events.IndexModel
@{
    ViewData["title"] = "مدیریت رویداد ها";
}

<div class="navbar-nav-right d-flex align-items-center mb-4" id="navbar-collapse">
    <div class="navbar-nav align-items-center">
        <h4 class="card-header">@ViewData["title"]</h4>
    </div>
    <div class="navbar-nav flex-row align-items-center ms-auto">
        <a class="btn btn-primary btn-lg" asp-page="Create">ایجاد رویداد جدید</a>
    </div>
</div>

<div class="card mb-4">
    <h5 class="card-header">جستجو در رویداد ها</h5>
    <div class="card-body">
        <form role="form" method="get">

            <div class="row gx-3 gy-2 align-items-center">
                <div class="col-md-3">
                    <input class="form-control" asp-for="SearchModel.Name" placeholder="نام رویداد">
                </div>
                <div class="col-md-3">
                    <input class="form-control" asp-for="SearchModel.PresenterId" placeholder="آی دی اراده دهنده">
                </div>
                <div class="col-md-3">
                    <input class="form-control" asp-for="SearchModel.AccountSideId" placeholder="آی دی طرف حساب">
                </div>
                <div class="col-md-3">
                    <select class="form-select" asp-for="SearchModel.SubcategoryId" asp-items="Model.Subcategories">
                        <option value="0">زیرموضوع...</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label asp-for="SearchModel.IsWebinar">مجازی؟</label>
                    <input type="checkbox" asp-for="SearchModel.IsWebinar">
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary d-inline-block">جستجو</button>
                    <a class="btn btn-outline-primary d-inline-block" asp-page="./Index">مشاهده همه</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card">
    <h5 class="card-header">رویداد ها</h5>
    <div class="table-responsive text-nowrap">
        <table class="table" id="Datatable">
            <thead>
            <tr>
                <th>#</th>
                <th>کاور</th>
                <th>نام</th>
                <th>زیرموضوع</th>
                <th>ارائه دهنده</th>
                <th>وضعیت تایید</th>
                <th>عملیات</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Events)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>
                        <img src="~/Pictures/@item.ImageCover" style="width: 70px; height: 70px"/>
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Subcategory</td>
                    <td>@item.Presenter</td>
                    <td>
                        @if (item.IsConfirmed)
                        {
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#61b710" class="bi bi-check2" viewBox="0 0 16 16">
                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                </svg>
                            </span>
                        }
                        else
                        {
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ff554e" class="bi bi-x-lg" viewBox="0 0 16 16">
                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                </svg>
                            </span>
                        }
                    </td>
                    
                    <td>
                        <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-label-primary">
                            ویرایش
                        </a>

                        @if (item.IsConfirmed)
                        {
                            <a asp-page="./Index" asp-page-handler="Cancel" asp-route-id="@item.Id" class="btn btn-label-danger">کنسل</a>
                        }
                        else
                        {
                            <a asp-page="./Index" asp-page-handler="Confirm" asp-route-id="@item.Id" class="btn btn-label-success">تایید</a>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>


@section Css
{
    <link rel="stylesheet" href="~/AdminTheme/assets/costum/css/dataTables.bootstrap5.min.css"/>
}

@section Script
{
    <script>
        $(document).ready(function () {
            $('#Datatable').DataTable();
        });
    </script>

    <script src="~/AdminTheme/assets/costum/js/jquery.dataTables.min.js"></script>
    <script src="~/AdminTheme/assets/costum/js/dataTables.bootstrap5.min.js"></script>
}
